@font-face {
    font-family: "padle-candy";
    src: url("../lobster/Lobster\ 1.4.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
    background-color:  #fffef9;
    font-family: "Montserrat", sans-serif;
}

/*******************************HEADER*******************************/
header{
    grid-column: 1 / -1;
    grid-row: 1/2;
    display: flex;
    position:absolute;
    align-items: center;
    padding: 0px 100px;
}
div.logo, div.logo, img{
    width: 100px;
}
ul.navbar{
    display: flex;
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin: 0 10px;
}
li.botaoPedir{
    margin-left: 30px;
    background-color: #5BD48D;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.navbar img{
    width: 30px;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.menu-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 2px;
    transition: 0.3s ease;
}
/*******************************MAIN*******************************/
main{
    grid-column: 1/-1;
    grid-row: 2/3;
    flex-direction: column;
}
/*----banner----*/
div#banner{
    background-image: url("../img/fundoBanner.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    margin-bottom: 100px;
}
#titulo-cima,#titulo-meio,#titulo-baixo{
    margin-bottom: 15px;
    font-family: "padle-candy";
}
#titulo-meio{
    font-size: 100px;
    color: #D40212;
}
#titulo-baixo{
    font-size: 80px;
    margin-bottom: 50px;
}
#titulo-cima{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
div#banner-topicos{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.banner-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
}
div.banner-item-img{
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    border: solid 2px #fefefe;
    background-color: #D40212;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
div.banner-item-img img{
    width: 50px;
    filter: invert(100%);
}
p.banner-item-text{
    font-size: 18px;
    font-weight: bold;
    width: 70px;
}

/*----cardapio----*/
div#cardapio{
    flex-direction: column;
    padding: 0px 100px;
    margin-bottom: 200px;
}
div.linha-titulo-cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
hr.linha-titulo{
    width: 200px;
    border: none;
    border-top:  solid #D40212;
    
}
hr.esquerda{
    clip-path: polygon(0 100%, 100% 1%, 100% 100%, 80% 65%);
}
hr.direita{
    clip-path: polygon(100% 100%, 0 1%, 0 100%, 20% 65%);
}
div.linha-titulo-img img{
    width:50px;
    margin: 0 20px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(98%) saturate(6200%) hue-rotate(353deg) brightness(75%) contrast(115%);
}
h2#titulo-cardapio{
    font-family: "padle-candy";
    font-size: 50px;
    transform: rotate(-1.5deg);
}
div.container-cardapio-titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
div.container-cardapio-linha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fffefa;
}
div.container-cardapio-prato{
    margin: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.container-cardapio-prato img{
    width: 200px;
}
div.titulo-prato{
    width: 200px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    background-color: #F8E06A;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    color: #1a1a1a;
    /* Leve inclinação para parecer feito à mão */
    transform: rotate(-1.5deg);
    display: inline-block;
}
/*----banner2----*/
div#banner2{
    background-color: #89c0ff;
    padding: 100px 200px;
    margin-bottom: 100px;
}


.phone {display: none;}
.tablet {display: none;}
.pc {display: block;}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .phone {display: none;}
    .tablet {display:block;}
    .pc {display: none;}
    
    div#banner{
        padding: 100px 50px;
    }
    #titulo-meio{
        font-size: 80px;
    }
    #titulo-baixo{
        font-size: 60px;
    }
    
    div#banner-topicos{
        width: 700px;
        justify-content: space-between;
    }
    div.banner-item{
        margin-bottom: 20px;
    }
    div.banner-item-img, div.banner-item-img img{
        width: 40px;
    }
    div#cardapio{
        padding: 0px 50px;
    }
    div#banner2{
        padding: 100px 50px;
    }
}
@media screen and (max-width: 768px) {
    .phone {display: block;}
    .tablet {display:none;}
    .pc {display: none;}
    
    div#banner{
        padding: 100px 20px;
    }
    #titulo-meio{
        font-size: 60px;
    }
    #titulo-baixo{
        font-size: 40px;
    }
    div#banner-topicos{
        width: 400px;
        justify-content: space-between;
    }
    div.banner-item{
        margin-bottom: 20px;
    }
    div.banner-item-img, div.banner-item-img img{
        width: 30px;
    }
    p.banner-item-text{
        font-size: 16px;
        width: 70px;
    }
    div#cardapio{
        padding: 0px 20px;
    }
    div#banner2{
        padding: 100px 20px;
    }

}
/*******************************FOOTER*******************************/
footer{
    grid-column: 1/-1;
    background-color: #F8E06A;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/-1;
}